Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

staging-user-job:
  stage: staging-user
  allow_failure: false
  tags:
  - staging
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  script:
  - cd /home/admin/docker/docker.collect.verything/account && sudo cp env/.env.test .env &&  sudo echo "CI_COMMIT_BRANCH="$CI_COMMIT_BRANCH | sudo tee -a .env
  ...

staging-address-job:
  stage: staging-address
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-api-job:
  stage: staging-api
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-image-job:
  stage: staging-image
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-store-job:
  stage: staging-store
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

ci cd
  address/php/dockerfile
Due: staging-address-job

ci cd
  proxy/conf/nginx/nginx.conf
Due: none

ci cd
  admin/docker-compose.yml
  cart/docker-compose.yml
  employee/docker-compose.yml
  image/docker-compose.yml
  mail/docker-compose.yml
  order/docker-compose.yml
  product/docker-compose.yml
  store/docker-compose.yml
  user/docker-compose.yml
Due: staging-user-job, staging-image-job, staging-store-job

ci cd
  api/php/dockerfile
Due: staging-api-job

ci cd
  api/docker-compose.yml
Due: staging-api-job

ci cd
  address/docker-compose.yml
  admin/docker-compose.yml
  boutique/docker-compose.yml
  cart/docker-compose.yml
  dashboard/docker-compose.yml
  employee/docker-compose.yml
  image/docker-compose.yml
  mail/docker-compose.yml
  order/docker-compose.yml
  product/docker-compose.yml
  proxy/docker-compose.yml
  store/docker-compose.yml
  user/docker-compose.yml
  vitrine/docker-compose.yml
Due: staging-user-job, staging-address-job, staging-image-job, staging-store-job

ci cd
  address/BUILD
  admin/BUILD
  api/BUILD
  boutique/docker-compose.yml
  cart/BUILD
  dashboard/docker-compose.yml
  employee/BUILD
  image/BUILD
  mail/BUILD
  order/BUILD
  product/BUILD
  store/BUILD
  user/BUILD
  vitrine/docker-compose.yml
Due: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

ci cd
  admin/conf/nginx/nginx.conf
  cart/conf/nginx/nginx.conf
  employee/conf/nginx/nginx.conf
  image/conf/nginx/nginx.conf
  mail/conf/nginx/nginx.conf
  order/conf/nginx/nginx.conf
  product/conf/nginx/nginx.conf
  store/conf/nginx/nginx.conf
Due: staging-image-job, staging-store-job

ci cd
  admin/php/dockerfile
Due: none

ci cd
  admin/php/dockerfile
  cart/php/dockerfile
  employee/php/dockerfile
  image/php/dockerfile
  mail/php/dockerfile
  order/php/dockerfile
  product/php/dockerfile
  store/php/dockerfile
Due: staging-image-job, staging-store-job

ci cd
  api/conf/supervisor/supervisord.conf
Due: staging-api-job

ci cd
  mail/conf/supervisor/supervisord.conf
Due: none

ci cd
  mail/php/dockerfile
Due: none

ci cd
  api/conf/supervisor/supervisord.conf
  api/php/dockerfile
  mail/conf/supervisor/supervisord.conf
Due: staging-api-job

supervisord
  address/conf/supervisor/supervisord.conf
  admin/conf/supervisor/supervisord.conf
  cart/conf/supervisor/supervisord.conf
  employee/conf/supervisor/supervisord.conf
  image/conf/supervisor/supervisord.conf
  order/conf/supervisor/supervisord.conf
  product/conf/supervisor/supervisord.conf
  store/conf/supervisor/supervisord.conf
  user/conf/supervisor/supervisord.conf
Due: staging-user-job, staging-address-job, staging-image-job, staging-store-job

proxy dev
  proxy/conf/nginx/nginx.conf
Due: none

rabbit mq queue
  rabbitmq/conf/definitions.json
Due: none

rabbitmq queue
  proxy/conf/letsencrypt/csr/0040_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0041_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0042_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0043_csr-certbot.pem
  proxy/conf/letsencrypt/keys/0040_key-certbot.pem
  proxy/conf/letsencrypt/keys/0041_key-certbot.pem
  proxy/conf/letsencrypt/keys/0042_key-certbot.pem
  proxy/conf/letsencrypt/keys/0043_key-certbot.pem
  proxy/conf/nginx/nginx.conf
  proxy/docker-compose.yml
Due: none

rabbitmq queue
  rabbitmq/conf/definitions.json
Due: none

proxy nginx conf
  proxy/conf/nginx/nginx.conf
Due: none

proxy nginx conf
  proxy/conf/letsencrypt/csr/0040_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0041_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0042_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0043_csr-certbot.pem
  proxy/conf/letsencrypt/keys/0040_key-certbot.pem
  proxy/conf/letsencrypt/keys/0041_key-certbot.pem
  proxy/conf/letsencrypt/keys/0042_key-certbot.pem
  proxy/conf/letsencrypt/keys/0043_key-certbot.pem
Due: none

user env
  proxy/conf/letsencrypt/csr/0044_csr-certbot.pem
  proxy/conf/letsencrypt/keys/0044_key-certbot.pem
  user/env/.env.production
Due: staging-user-job

user env
  user/env/.env.production
Due: staging-user-job

image rabbitmq
  image/env/.env.production
  image/php/dockerfile
  rabbitmq/conf/definitions.json
  store/env/.env.production
  store/php/dockerfile
Due: staging-image-job, staging-store-job

image queue
  rabbitmq/conf/definitions.json
Due: none

image queue
  product/php/dockerfile
Due: none

env
  image/env/.env.production
  image/env/.env.staging
  proxy/conf/letsencrypt/csr/0045_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0046_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0047_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0048_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0049_csr-certbot.pem
  proxy/conf/letsencrypt/keys/0045_key-certbot.pem
  proxy/conf/letsencrypt/keys/0046_key-certbot.pem
  proxy/conf/letsencrypt/keys/0047_key-certbot.pem
  proxy/conf/letsencrypt/keys/0048_key-certbot.pem
  proxy/conf/letsencrypt/keys/0049_key-certbot.pem
Due: staging-image-job

env
  proxy/conf/letsencrypt/csr/0045_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0046_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0047_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0048_csr-certbot.pem
  proxy/conf/letsencrypt/csr/0049_csr-certbot.pem
  proxy/conf/letsencrypt/keys/0045_key-certbot.pem
  proxy/conf/letsencrypt/keys/0046_key-certbot.pem
  proxy/conf/letsencrypt/keys/0047_key-certbot.pem
  proxy/conf/letsencrypt/keys/0048_key-certbot.pem
  proxy/conf/letsencrypt/keys/0049_key-certbot.pem
Due: none

env
  image/BUILD
Due: staging-image-job

rabbitmq ci cd
  .gitlab-ci.yml
  rabbitmq/conf/definitions.json
Due: none

rabbitmq ci cd
  api/BUILD
  image/BUILD
  store/BUILD
Due: staging-api-job, staging-image-job, staging-store-job

Path conditions:
  staging-user-job: any of: user/*, user/*/*, user/*/*/*
  staging-address-job: any of: address/*, address/*/*, address/*/*/*
  staging-api-job: any of: api/*, api/*/*, api/*/*/*
  staging-image-job: any of: image/*, image/*/*, image/*/*/*
  staging-store-job: any of: store/*, store/*/*, store/*/*/*
