Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging_image_php, staging_image_nginx, staging_image_react, production_image_php, production_image_nginx, production_image_react, staging_build_address, staging_build_admin, staging_build_api, staging_build_boutique, staging_build_bill, staging_build_cart, staging_build_dashboard, staging_build_employee, staging_build_image, staging_build_mail, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, staging_build_vitrine, staging_rabbitmq, production_build_address, production_build_admin, production_build_api, production_build_boutique, production_build_bill, production_build_cart, production_build_dashboard, production_build_employee, production_build_image, production_build_mail, production_build_order, production_build_product, production_build_store, production_build_user, production_build_payment, production_build_vitrine, production_rabbitmq, production_proxy, staging_proxy

staging_image_php:
  stage: images
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/images/php8.1-fpm && sudo docker build -t collectandverything-php .

staging_image_nginx:
  stage: images
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/images/nginx-alpine && sudo docker build -t collectandverything-nginx .

staging_image_react:
  stage: images
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/images/react && sudo docker build -t collectandverything-react .

production_image_php:
  stage: images
  allow_failure: false
  tags:
  - production
  script:
  - cd /home/admin/docker.collect.verything/images/php8.1-fpm && sudo docker build -t collectandverything-php .

production_image_nginx:
  stage: images
  allow_failure: false
  tags:
  - production
  script:
  - cd /home/admin/docker.collect.verything/images/nginx-alpine && sudo docker build -t collectandverything-nginx .

production_image_react:
  stage: images
  allow_failure: false
  tags:
  - production
  script:
  - cd /home/admin/docker.collect.verything/images/react && sudo docker build -t collectandverything-react .

staging_build_address:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/address && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_admin:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/admin && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_api:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/api && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_boutique:
  stage: staging-build
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/boutique && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging_build_bill:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.bill.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/bill && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_cart:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.cart.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/cart && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

Add CHANGELOG
  CHANGELOG
Due: none

Delete CHANGELOG
  CHANGELOG
Due: none

env shop
  .gitlab-ci.yml
  boutique/docker-compose.yml
  boutique/env/.env.production
  boutique/env/.env.staging
  init-runner.sh
Due: staging_build_boutique, production_build_boutique

env shop
  .gitlab-ci.yml
Due: none

env front
  .gitlab-ci.yml
  dashboard/docker-compose.yml
  dashboard/env/.env.production
  dashboard/env/.env.staging
  vitrine/docker-compose.yml
  vitrine/env/.env.production
  vitrine/env/.env.staging
Due: staging_build_dashboard, staging_build_vitrine, production_build_dashboard, production_build_vitrine

env front
  vitrine/env/.env.production
  vitrine/env/.env.staging
Due: staging_build_vitrine, production_build_vitrine

env front
  dashboard/dockerfile/react/dockerfile
Due: staging_build_dashboard, production_build_dashboard

react version
  images/react/dockerfile
Due: staging_image_react, production_image_react

react version
  dashboard/dockerfile/react/dockerfile
Due: staging_build_dashboard, production_build_dashboard

env
  payment/docker-compose.yml
Due: staging_build_payment, production_build_payment

proxy error fix
  init-runner.sh
  proxy/nginx-dockerfile
Due: production_proxy

vtitrine to api
  init-runner.sh
  proxy/conf/nginx/nginx.conf
Due: production_proxy

proxy
  proxy/conf/nginx/nginx.conf
Due: production_proxy

db
  db-pgsql/docker-compose.yml
Due: none

queues
  rabbitmq/conf/definitions.json
Due: staging_rabbitmq, production_rabbitmq

start_engine queues
  proxy-local/conf/nginx/nginx.conf
  rabbitmq/conf/definitions.json
Due: staging_rabbitmq, production_rabbitmq

docker cleanup
  api/BUILD
  api/docker-compose.yml
  api/env/.env.production
  api/php/dockerfile
  db-pgsql/BUILD
  proxy/BUILD
Due: staging_build_api, production_build_api, production_proxy

docker cleanup
  api/php/dockerfile
Due: staging_build_api, production_build_api

docker cleanup
  api/docker-compose.yml
Due: staging_build_api, production_build_api

docker cleanup
  api/env/.env
  api/env/.env.production
  api/php/dockerfile
Due: staging_build_api, production_build_api

docker cleanup
  rabbitmq/conf/definitions.json
Due: staging_rabbitmq, production_rabbitmq

image controller
  proxy-local/docker-compose.yml
Due: none

front
  .gitlab-ci.yml
  api/env/.env
  front/.dockerignore
  front/.gitignore
  front/.gitmodules
  front/docker-compose.yml
  front/dockerfile/react/dockerfile
  front/env/.env
  proxy-local/conf/nginx/nginx.conf
  proxy/conf/nginx/nginx.conf
Due: staging_build_api, production_build_api, production_proxy

i18n
  front/dockerfile/react/dockerfile
  front/env/.env
Due: none

rabbitmq
  proxy/conf/nginx/nginx.conf
Due: production_proxy

casser
  proxy/conf/nginx/nginx.conf
Due: production_proxy

Path conditions:
  staging_image_php: any of: images/php8.1-fpm/*
  staging_image_nginx: any of: images/nginx-alpine/*
  staging_image_react: any of: images/react/*
  production_image_php: any of: images/php8.1-fpm/*
  production_image_nginx: any of: images/nginx-alpine/*
  production_image_react: any of: images/react/*
  staging_build_address: any of: address/*, address/*/*, address/*/*/*
  staging_build_admin: any of: admin/*, admin/*/*, admin/*/*/*
  staging_build_api: any of: api/*, api/*/*, api/*/*/*
  staging_build_boutique: any of: boutique/*, boutique/*/*, boutique/*/*/*
  staging_build_bill: any of: bill/*, bill/*/*, bill/*/*/*
  staging_build_cart: any of: cart/*, cart/*/*, cart/*/*/*
  staging_build_dashboard: any of: dashboard/*, dashboard/*/*, dashboard/*/*/*
  staging_build_employee: any of: employee/*, employee/*/*, employee/*/*/*
  staging_build_image: any of: image/*, image/*/*, image/*/*/*
  staging_build_mail: any of: mail/*, mail/*/*, mail/*/*/*
  staging_build_order: any of: order/*, order/*/*, order/*/*/*
  staging_build_product: any of: product/*, product/*/*, product/*/*/*
  staging_build_store: any of: store/*, store/*/*, store/*/*/*
  staging_build_user: any of: user/*, user/*/*, user/*/*/*
  staging_build_payment: any of: payment/*, payment/*/*, payment/*/*/*
  staging_build_vitrine: any of: vitrine/*, vitrine/*/*, vitrine/*/*/*
  staging_rabbitmq: any of: rabbitmq/*, rabbitmq/*/*, rabbitmq/*/*/*
  production_build_address: any of: address/*, address/*/*, address/*/*/*
  production_build_admin: any of: admin/*, admin/*/*, admin/*/*/*
  production_build_api: any of: api/*, api/*/*, api/*/*/*
  production_build_boutique: any of: boutique/*, boutique/*/*, boutique/*/*/*
  production_build_bill: any of: bill/*, bill/*/*, bill/*/*/*
  production_build_cart: any of: cart/*, cart/*/*, cart/*/*/*
  production_build_dashboard: any of: dashboard/*, dashboard/*/*, dashboard/*/*/*
  production_build_employee: any of: employee/*, employee/*/*, employee/*/*/*
  production_build_image: any of: image/*, image/*/*, image/*/*/*
  production_build_mail: any of: mail/*, mail/*/*, mail/*/*/*
  production_build_order: any of: order/*, order/*/*, order/*/*/*
  production_build_product: any of: product/*, product/*/*, product/*/*/*
  production_build_store: any of: store/*, store/*/*, store/*/*/*
  production_build_user: any of: user/*, user/*/*, user/*/*/*
  production_build_payment: any of: payment/*, payment/*/*, payment/*/*/*
  production_build_vitrine: any of: vitrine/*, vitrine/*/*, vitrine/*/*/*
  production_rabbitmq: any of: rabbitmq/*, rabbitmq/*/*, rabbitmq/*/*/*
  production_proxy: any of: proxy/*, proxy/*/*, proxy/*/*/*
  staging_proxy: any of: proxy-staging/*, proxy-staging/*/*, proxy-staging/*/*/*
