Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

Path conditions:
  staging-user-job: any of: user/*, user/*/*, user/*/*/*
  staging-address-job: any of: address/*, address/*/*, address/*/*/*
  staging-api-job: any of: api/*, api/*/*, api/*/*/*
  staging-image-job: any of: image/*, image/*/*, image/*/*/*
  staging-store-job: any of: store/*, store/*/*, store/*/*/*

rabbitmq ci cd
  rabbitmq/conf/definitions.json
Due: none

rabbitmq ci cd
  .gitlab-ci.yml
  rabbitmq/conf/definitions.json
Due: none

rabbitmq
  admin/env/.env.local
  admin/env/.env.production
  admin/env/.env.staging
  api/env/.env.local
  api/env/.env.production
  api/env/.env.staging
  cart/env/.env.local
  cart/env/.env.production
  cart/env/.env.staging
  employee/env/.env.local
  employee/env/.env.production
  employee/env/.env.staging
  image/env/.env.production
  image/env/.env.staging
  mail/env/.env.local
  mail/env/.env.production
  mail/env/.env.staging
  order/env/.env.local
  order/env/.env.production
  order/env/.env.staging
  product/env/.env.local
  product/env/.env.production
  product/env/.env.staging
  rabbitmq/docker-compose.yml
  store/env/.env.production
  store/env/.env.staging
  user/env/.env.production
  user/env/.env.staging
Due: staging-user-job, staging-api-job, staging-image-job, staging-store-job

rabbitmq
  rabbitmq/conf/definitions.json
Due: none

update employee api
  store/env/.env.production
Due: staging-store-job

env store prod
  proxy-local/conf/letsencrypt/csr/0044_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0050_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0044_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0050_key-certbot.pem
  proxy-local/conf/nginx/nginx.conf
  store/env/.env.production
Due: staging-store-job

prune
  .gitlab-ci.yml
Due: none

memcached
  images/php8.1-fpm/dockerfile
  memcached/docker-compose.yml
  proxy-local/conf/letsencrypt/csr/0051_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0052_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0051_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0052_key-certbot.pem
Due: none

memcached
  api/env/.env.local
  api/env/.env.production
  api/env/.env.staging
Due: staging-api-job

env
  address/env/.env.local
  address/env/.env.staging
  admin/env/.env.staging
  api/env/.env.staging
  cart/env/.env.staging
  employee/env/.env.staging
  image/env/.env.staging
  init-runner.sh
  mail/env/.env.staging
  order/env/.env.staging
  product/env/.env.staging
  store/env/.env.staging
  user/env/.env.staging
Due: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

env
  address/env/.env.staging
  admin/env/.env.staging
  api/env/.env.staging
  cart/env/.env.staging
  employee/env/.env.staging
  image/env/.env.staging
  mail/env/.env.staging
  order/env/.env.staging
  product/env/.env.staging
  store/env/.env.staging
  user/env/.env.staging
Due: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

env and network
  admin/docker-compose.yml
  admin/env/.env.local
  admin/env/.env.staging
  api/docker-compose.yml
  api/env/.env.staging
  boutique/docker-compose.yml
  cart/docker-compose.yml
  cart/env/.env.local
  cart/env/.env.staging
  dashboard/docker-compose.yml
  employee/docker-compose.yml
  employee/env/.env.local
  employee/env/.env.staging
  image/docker-compose.yml
  image/env/.env.local
  image/env/.env.staging
  init-runner.sh
  mail/docker-compose.yml
  mail/env/.env.local
  mail/env/.env.staging
  order/docker-compose.yml
  order/env/.env.local
  order/env/.env.staging
  product/docker-compose.yml
  product/env/.env.local
  product/env/.env.staging
  store/docker-compose.yml
  store/env/.env.local
  store/env/.env.staging
  user/docker-compose.yml
  user/env/.env.local
  user/env/.env.staging
  vitrine/docker-compose.yml
Due: staging-user-job, staging-api-job, staging-image-job, staging-store-job

env
  api/env/.env.production
  api/env/.env.staging
  proxy-local/conf/letsencrypt/csr/0053_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0054_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0053_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0054_key-certbot.pem
  proxy-local/conf/nginx/nginx.conf
Due: staging-api-job

env
  api/env/.env.production
  api/env/.env.staging
Due: staging-api-job

supervisord
  cart/php/dockerfile
Due: none

payment
  payment/BUILD
  payment/conf/nginx/nginx.conf
  payment/conf/php/php.ini
  payment/conf/supervisor/supervisord.conf
  payment/docker-compose.yml
  payment/env/.env.production
  payment/env/.env.staging
  payment/nginx/dockerfile
  payment/php/dockerfile
  proxy-local/conf/letsencrypt/csr/0055_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0056_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0057_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0058_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0059_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0060_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0055_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0056_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0057_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0058_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0059_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0060_key-certbot.pem
  proxy-local/conf/nginx/nginx.conf
  proxy/conf/letsencrypt/csr/0044_csr-certbot.pem
  proxy/conf/letsencrypt/keys/0044_key-certbot.pem
  rabbitmq/conf/definitions.json
Due: none

payment ci cd
  .gitlab-ci.yml
Due: none

build payment
  payment/BUILD
Due: none

build payment
  payment/php/dockerfile
Due: none

bc math
  images/php8.1-fpm/dockerfile
Due: none

bc math
  payment/BUILD
Due: none

rabbitmq queue
  rabbitmq/conf/definitions.json
Due: none

Rabbit mq queue && payment env
  payment/env/.env.production
  payment/env/.env.staging
  proxy-local/conf/letsencrypt/csr/0061_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0062_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0063_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0061_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0062_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0063_key-certbot.pem
  rabbitmq/conf/definitions.json
Due: none

subscription
  payment/env/.env.production
  payment/env/.env.staging
Due: none

subscription
  rabbitmq/conf/definitions.json
Due: none

subscription
  order/php/dockerfile
Due: none
