Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

staging-user-job:
  stage: staging-user
  allow_failure: false
  tags:
  - staging
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  script:
  - cd /home/admin/docker/docker.collect.verything/account && sudo cp env/.env.test .env &&  sudo echo "CI_COMMIT_BRANCH="$CI_COMMIT_BRANCH | sudo tee -a .env
  ...

staging-address-job:
  stage: staging-address
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-api-job:
  stage: staging-api
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-image-job:
  stage: staging-image
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-store-job:
  stage: staging-store
  allow_failure: false
  environment:
    name: staging
    url: https://staging.collectandverything.fr
  tags:
  - staging
  script:
  ...

test
  proxy/conf/nginx/nginx.conf
Due: none

test
  api/docker-compose.yml
  proxy/conf/nginx/nginx.conf
Due: staging-api-job

test
  api/conf/nginx/nginx.conf
  api/docker-compose.yml
  proxy/conf/nginx/nginx.conf
Due: staging-api-job

test
  api/conf/nginx/nginx.conf
  proxy/conf/nginx/nginx.conf
Due: staging-api-job

test
  api/conf/nginx/nginx.conf
Due: staging-api-job

test
  api/docker-compose.yml
Due: staging-api-job

test
  api/docker-compose.yml
  proxy/docker-compose.yml
Due: staging-api-job

test
  proxy/docker-compose.yml
Due: none

test
  .gitlab-ci.yml
  api/BUILD
Due: staging-api-job

test
  .gitlab-ci.yml
  api/BUILD
  user/env/.env.prod
  user/env/.env.production
  user/env/.env.staging
  user/env/.env.test
Due: staging-user-job, staging-api-job

test
  api/BUILD
  user/php/dockerfile
Due: staging-user-job, staging-api-job

test
  .gitlab-ci.yml
  api/BUILD
  user/BUILD
Due: staging-user-job, staging-api-job

test
  images/php8.1-fpm/dockerfile
Due: none

test
  api/BUILD
  proxy/BUILD
  user/BUILD
Due: staging-user-job, staging-api-job

test
  api/php/dockerfile
  user/docker-compose.yml
  user/php/dockerfile
Due: staging-user-job, staging-api-job

test
  .gitlab-ci.yml
  images/react/DockerFile
  user/conf/nginx/nginx.conf
  user/docker-compose.yml
  vitrine/.dockerignore
  vitrine/.gitignore
  vitrine/.gitmodules
  vitrine/BUILD
  vitrine/docker-compose.yml
  vitrine/dockerfile/react/dockerfile
Due: staging-user-job

test
  user/docker-compose.yml
  vitrine/BUILD
Due: staging-user-job

test
  .gitlab-ci.yml
Due: none

test
  vitrine/BUILD
Due: none

test
  .gitlab-ci.yml
  vitrine/BUILD
Due: none

test
  vitrine/dockerfile/react/dockerfile
Due: none

test
  images/react/dockerfile
Due: none

Path conditions:
  staging-user-job: any of: user/*, user/*/*, user/*/*/*
  staging-address-job: any of: address/*, address/*/*, address/*/*/*
  staging-api-job: any of: api/*, api/*/*, api/*/*/*
  staging-image-job: any of: image/*, image/*/*, image/*/*/*
  staging-store-job: any of: store/*, store/*/*, store/*/*/*
