Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging_build_address, staging_build_admin, staging_build_api, staging_build_boutique, staging_build_bill, staging_build_cart, staging_build_dashboard, staging_build_employee, staging_build_image, staging_build_mail, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, staging_build_vitrine, staging-rabbitmq-job, prod-address-job, prod-admin-job, prod-api-job, prod-boutique-job, prod-bill-job, prod-cart-job, prod-dashboard-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-payment-job, prod-vitrine-job, prod-rabbitmq-job, proxy-job, proxy-staging-job

staging_build_address:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/address && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_admin:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/admin && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_api:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/api && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_boutique:
  stage: staging-build
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/boutique && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging_build_bill:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.bill.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/bill && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_cart:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.cart.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/cart && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_dashboard:
  stage: staging-build
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/dashboard && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging_build_employee:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.employee.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/employee && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_image:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.image.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/image && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

staging_build_mail:
  stage: staging-build
  allow_failure: false
  environment:
    name: staging
    url: https://staging.mail.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/mail && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache

pipeline change
  .gitlab-ci.yml
  address/BUILD
  admin/BUILD
  api/BUILD
  bill/BUILD
  cart/BUILD
  employee/BUILD
  image/BUILD
  mail/BUILD
  order/BUILD
  payment/BUILD
  product/BUILD
  store/BUILD
  user/BUILD
Due: staging_build_address, staging_build_admin, staging_build_api, staging_build_bill, staging_build_cart, staging_build_employee, staging_build_image, staging_build_mail, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, prod-address-job, prod-admin-job, prod-api-job, prod-bill-job, prod-cart-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-payment-job

pipeline change
  .gitlab-ci.yml
  address/BUILD
  admin/BUILD
  api/BUILD
  bill/BUILD
  boutique/BUILD
  cart/BUILD
  dashboard/BUILD
  employee/BUILD
  image/BUILD
  mail/BUILD
  order/BUILD
  payment/BUILD
  product/BUILD
  store/BUILD
  user/BUILD
  vitrine/BUILD
Due: staging_build_address, staging_build_admin, staging_build_api, staging_build_boutique, staging_build_bill, staging_build_cart, staging_build_dashboard, staging_build_employee, staging_build_image, staging_build_mail, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, staging_build_vitrine, prod-address-job, prod-admin-job, prod-api-job, prod-boutique-job, prod-bill-job, prod-cart-job, prod-dashboard-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-payment-job, prod-vitrine-job

pipeline change
  .gitlab-ci.yml
  images/php8.1-fpm/dockerfile
Due: none

pipeline change
  .gitlab-ci.yml
Due: none

pipeline change
  address/BUILD
Due: staging_build_address, prod-address-job

pipeline change
  api/BUILD
  images/php8.1-fpm/dockerfile
Due: staging_build_api, prod-api-job

pipeline change
  proxy-staging/conf/nginx/nginx.conf
Due: proxy-staging-job

pipeline change
  .gitlab-ci.yml
  proxy-staging/conf/nginx/nginx.conf
Due: proxy-staging-job

pipeline change
  api/BUILD
Due: staging_build_api, prod-api-job

pipeline change
  api/BUILD
  proxy-staging/conf/nginx/nginx.conf
Due: staging_build_api, prod-api-job, proxy-staging-job

pipeline change
  api/env/.env.production
  api/env/.env.staging
Due: staging_build_api, prod-api-job

pipeline change
  address/env/.env.production
  address/env/.env.staging
Due: staging_build_address, prod-address-job

pipeline change
  address/conf/nginx/nginx.conf
  proxy-staging/conf/nginx/nginx.conf
Due: staging_build_address, prod-address-job, proxy-staging-job

pipeline change
  api/conf/nginx/nginx.conf
Due: staging_build_api, prod-api-job

employee env
  employee/env/.env.staging
  proxy-local/conf/letsencrypt/csr/0074_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0074_key-certbot.pem
  proxy-local/conf/nginx/nginx.conf
Due: staging_build_employee, prod-employee-job

env localhost
  bill/env/.env.production
  bill/env/.env.staging
  cart/env/.env.production
  cart/env/.env.staging
  order/env/.env.production
  order/env/.env.staging
  payment/env/.env.production
  payment/env/.env.staging
  product/env/.env.production
  product/env/.env.staging
  store/env/.env.production
  store/env/.env.staging
  user/env/.env.production
  user/env/.env.staging
Due: staging_build_bill, staging_build_cart, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, prod-bill-job, prod-cart-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-payment-job

boutique
  boutique/BUILD
  rabbitmq/conf/definitions.json
Due: staging_build_boutique, staging-rabbitmq-job, prod-boutique-job, prod-rabbitmq-job

boutique
  boutique/dockerfile/react/dockerfile
Due: staging_build_boutique, prod-boutique-job

boutique
  boutique/BUILD
Due: staging_build_boutique, prod-boutique-job

proxy
  proxy-staging/conf/nginx/nginx.conf
Due: proxy-staging-job

front
  boutique/dockerfile/react/dockerfile
  dashboard/dockerfile/react/dockerfile
Due: staging_build_boutique, staging_build_dashboard, prod-boutique-job, prod-dashboard-job

front
  init-runner.sh
  proxy/conf/nginx/nginx.conf
Due: proxy-job

unit test ci cd
  .gitlab-ci.yml
Due: none

rebuild
  address/BUILD
  admin/BUILD
  api/BUILD
  bill/BUILD
  boutique/BUILD
  cart/BUILD
  dashboard/BUILD
  employee/BUILD
  image/BUILD
  mail/BUILD
  order/BUILD
  payment/BUILD
  product/BUILD
  store/BUILD
  user/BUILD
  vitrine/BUILD
Due: staging_build_address, staging_build_admin, staging_build_api, staging_build_boutique, staging_build_bill, staging_build_cart, staging_build_dashboard, staging_build_employee, staging_build_image, staging_build_mail, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, staging_build_vitrine, prod-address-job, prod-admin-job, prod-api-job, prod-boutique-job, prod-bill-job, prod-cart-job, prod-dashboard-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-payment-job, prod-vitrine-job

proxy
  proxy/conf/nginx/nginx.conf
Due: proxy-job

test
  address/docker-compose.yml
  init-runner.sh
Due: staging_build_address, prod-address-job

test
  address/docker-compose.yml
Due: staging_build_address, prod-address-job

test
  .gitlab-ci.yml
Due: none

test
  address/BUILD
  admin/BUILD
  api/BUILD
  bill/BUILD
  boutique/BUILD
  cart/BUILD
  dashboard/BUILD
  employee/BUILD
  image/BUILD
  mail/BUILD
  order/BUILD
  payment/BUILD
  product/BUILD
  store/BUILD
  user/BUILD
  vitrine/BUILD
Due: staging_build_address, staging_build_admin, staging_build_api, staging_build_boutique, staging_build_bill, staging_build_cart, staging_build_dashboard, staging_build_employee, staging_build_image, staging_build_mail, staging_build_order, staging_build_product, staging_build_store, staging_build_user, staging_build_payment, staging_build_vitrine, prod-address-job, prod-admin-job, prod-api-job, prod-boutique-job, prod-bill-job, prod-cart-job, prod-dashboard-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-payment-job, prod-vitrine-job

test
  init-runner.sh
Due: none

Path conditions:
  staging_build_address: any of: address/*, address/*/*, address/*/*/*
  staging_build_admin: any of: admin/*, admin/*/*, admin/*/*/*
  staging_build_api: any of: api/*, api/*/*, api/*/*/*
  staging_build_boutique: any of: boutique/*, boutique/*/*, boutique/*/*/*
  staging_build_bill: any of: bill/*, bill/*/*, bill/*/*/*
  staging_build_cart: any of: cart/*, cart/*/*, cart/*/*/*
  staging_build_dashboard: any of: dashboard/*, dashboard/*/*, dashboard/*/*/*
  staging_build_employee: any of: employee/*, employee/*/*, employee/*/*/*
  staging_build_image: any of: image/*, image/*/*, image/*/*/*
  staging_build_mail: any of: mail/*, mail/*/*, mail/*/*/*
  staging_build_order: any of: order/*, order/*/*, order/*/*/*
  staging_build_product: any of: product/*, product/*/*, product/*/*/*
  staging_build_store: any of: store/*, store/*/*, store/*/*/*
  staging_build_user: any of: user/*, user/*/*, user/*/*/*
  staging_build_payment: any of: payment/*, payment/*/*, payment/*/*/*
  staging_build_vitrine: any of: vitrine/*, vitrine/*/*, vitrine/*/*/*
  staging-rabbitmq-job: any of: rabbitmq/*, rabbitmq/*/*, rabbitmq/*/*/*
  prod-address-job: any of: address/*, address/*/*, address/*/*/*
  prod-admin-job: any of: admin/*, admin/*/*, admin/*/*/*
  prod-api-job: any of: api/*, api/*/*, api/*/*/*
  prod-boutique-job: any of: boutique/*, boutique/*/*, boutique/*/*/*
  prod-bill-job: any of: bill/*, bill/*/*, bill/*/*/*
  prod-cart-job: any of: cart/*, cart/*/*, cart/*/*/*
  prod-dashboard-job: any of: dashboard/*, dashboard/*/*, dashboard/*/*/*
  prod-employee-job: any of: employee/*, employee/*/*, employee/*/*/*
  prod-image-job: any of: image/*, image/*/*, image/*/*/*
  prod-mail-job: any of: mail/*, mail/*/*, mail/*/*/*
  prod-order-job: any of: order/*, order/*/*, order/*/*/*
  prod-product-job: any of: product/*, product/*/*, product/*/*/*
  prod-store-job: any of: store/*, store/*/*, store/*/*/*
  prod-user-job: any of: user/*, user/*/*, user/*/*/*
  prod-payment-job: any of: payment/*, payment/*/*, payment/*/*/*
  prod-vitrine-job: any of: vitrine/*, vitrine/*/*, vitrine/*/*/*
  prod-rabbitmq-job: any of: rabbitmq/*, rabbitmq/*/*, rabbitmq/*/*/*
  proxy-job: any of: proxy/*, proxy/*/*, proxy/*/*/*
  proxy-staging-job: any of: proxy-staging/*, proxy-staging/*/*, proxy-staging/*/*/*
