Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

Path conditions:
  staging-user-job: any of: user/*, user/*/*, user/*/*/*
  staging-address-job: any of: address/*, address/*/*, address/*/*/*
  staging-api-job: any of: api/*, api/*/*, api/*/*/*
  staging-image-job: any of: image/*, image/*/*, image/*/*/*
  staging-store-job: any of: store/*, store/*/*, store/*/*/*

test
  vitrine/dockerfile/react/dockerfile
Due: none

test
  proxy/conf/nginx/nginx.conf
  vitrine/dockerfile/react/dockerfile
Due: none

test
  .gitlab-ci.yml
  boutique/.dockerignore
  boutique/.gitignore
  boutique/.gitmodules
  boutique/BUILD
  boutique/docker-compose.yml
  boutique/dockerfile/react/dockerfile
  proxy/conf/nginx/nginx.conf
Due: none

test
  proxy/conf/nginx/nginx.conf
Due: none

test
  api/.idea/.gitignore
  api/.idea/api.iml
  api/.idea/codeStyles/Project.xml
  api/.idea/codeStyles/codeStyleConfig.xml
  api/.idea/misc.xml
  api/.idea/modules.xml
  api/.idea/php.xml
  api/.idea/vcs.xml
  api/BUILD
Due: staging-api-job

test
  api/.idea/.gitignore
  api/.idea/api.iml
  api/.idea/codeStyles/Project.xml
  api/.idea/codeStyles/codeStyleConfig.xml
  api/.idea/misc.xml
  api/.idea/modules.xml
  api/.idea/php.xml
  api/.idea/vcs.xml
Due: staging-api-job

docs
  api/BUILD
Due: staging-api-job

docs
  proxy/conf/nginx/nginx.conf
Due: none

ci cd
  .gitlab-ci.yml
Due: none

ci cd
  rabbitmq-staging/docker-compose.yml
Due: none

env staging
  address/env/.env.staging
  admin/env/.env.staging
  api/env/.env.staging
  cart/env/.env.staging
  employee/env/.env.staging
  image/env/.env.production
  image/env/.env.staging
  mail/env/.env.staging
  order/env/.env.staging
  product/env/.env.staging
  store/env/.env.production
  store/env/.env.staging
  user/env/.env.production
  user/env/.env.staging
Due: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

env staging
  order/docker-compose.yml
  product/BUILD
  store/BUILD
  user/BUILD
Due: staging-user-job, staging-store-job

ci cd
  certbot.sh
  proxy/conf/nginx/nginx.conf
Due: none

ci cd
  dashboard/dockerfile/react/dockerfile
Due: none

ci cd
  boutique/dockerfile/react/dockerfile
  dashboard/dockerfile/react/dockerfile
  image/php/dockerfile
  vitrine/dockerfile/react/dockerfile
Due: staging-image-job

ci cd
  dashboard/docker-compose.yml
Due: none

ci cd
  proxy/BUILD
Due: none

ci cd
  proxy/conf/nginx/nginx.conf
Due: none

swagger
  api/env/.env.production
Due: staging-api-job

swagger
  address/conf/nginx/nginx.conf
  api/conf/nginx/nginx.conf
Due: staging-address-job, staging-api-job

swagger
  address/BUILD
  api/BUILD
Due: staging-address-job, staging-api-job

swagger
  address/conf/nginx/nginx.conf
Due: staging-address-job

swagger
  api/conf/nginx/nginx.conf
Due: staging-api-job
