Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging-address-job, staging-admin-job, staging-api-job, staging-boutique-job, staging-cart-job, staging-dashboard-job, staging-employee-job, staging-image-job, staging-mail-job, staging-order-job, staging-product-job, staging-store-job, staging-user-job, staging-vitrine-job, staging-rabbitmq-job, prod-address-job, prod-admin-job, prod-api-job, prod-boutique-job, prod-cart-job, prod-dashboard-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-vitrine-job, prod-rabbitmq-job, proxy-job

staging-address-job:
  stage: staging-address
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-admin-job:
  stage: staging-admin
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/admin && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-api-job:
  stage: staging-api
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/api && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-boutique-job:
  stage: staging-boutique
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/boutique && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-cart-job:
  stage: staging-cart
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/cart && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-dashboard-job:
  stage: staging-dashboard
  allow_failure: false
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/dashboard && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-employee-job:
  stage: staging-employee
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  ...

staging-image-job:
  stage: staging-image
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/image && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-mail-job:
  stage: staging-mail
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/mail && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

staging-order-job:
  stage: staging-order
  allow_failure: false
  environment:
    name: staging
    url: https://staging.api.collectandverything.fr
  tags:
  - staging
  script:
  - cd /home/admin/docker.collect.verything/order && sudo cp env/.env.staging .env && sudo -E docker compose build --no-cache && sudo -E docker compose up -d

subscription
  api/env/.env.production
  api/env/.env.staging
  proxy-staging/conf/nginx/nginx.conf
Due: staging-api-job, prod-api-job

subscription
  .gitlab-ci.yml
  proxy-staging/BUILD
Due: none

subscription
  proxy-staging/conf/nginx/nginx.conf
Due: none

subscription
  boutique/dockerfile/react/dockerfile
  images/react/dockerfile
Due: staging-boutique-job, prod-boutique-job

subscription
  images/react/dockerfile
Due: none

subscription
  boutique/dockerfile/react/dockerfile
Due: staging-boutique-job, prod-boutique-job

add cors to api
  api/conf/nginx/nginx.conf
Due: staging-api-job, prod-api-job

add cors to api
  boutique/dockerfile/react/dockerfile
Due: staging-boutique-job, prod-boutique-job

add cors to api
  api/conf/nginx/nginx.conf
  proxy-staging/conf/nginx/nginx.conf
Due: staging-api-job, prod-api-job

add cors to api
  .gitlab-ci.yml
  proxy-staging/conf/nginx/nginx.conf
Due: none

add cors to api
  rabbitmq/conf/definitions.json
Due: staging-rabbitmq-job, prod-rabbitmq-job

remove cors
  .gitlab-ci.yml
Due: none

capture job
  .gitlab-ci.yml
  rabbitmq/conf/definitions.json
Due: staging-rabbitmq-job, prod-rabbitmq-job

captured job
  rabbitmq/conf/definitions.json
Due: staging-rabbitmq-job, prod-rabbitmq-job

email status order
  order/env/.env.production
  order/env/.env.staging
Due: staging-order-job, prod-order-job

bill
  .gitlab-ci.yml
  api/env/.env.production
  bill/BUILD
  bill/conf/nginx/nginx.conf
  bill/conf/php/php.ini
  bill/conf/supervisor/supervisord.conf
  bill/docker-compose.yml
  bill/env/.env.production
  bill/env/.env.staging
  bill/nginx/dockerfile
  bill/php/dockerfile
Due: staging-api-job, prod-api-job

bill edit
  bill/env/.env.production
  bill/env/.env.staging
Due: none

pipeline change
  images/php8.1-fpm/dockerfile
Due: none

pipeline change
  .gitlab-ci.yml
  address/BUILD
  admin/BUILD
  api/BUILD
  bill/BUILD
  boutique/BUILD
  cart/BUILD
  dashboard/BUILD
  employee/BUILD
  image/BUILD
  mail/BUILD
  order/BUILD
  payment/BUILD
  product/BUILD
  proxy-local/conf/letsencrypt/csr/0064_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0065_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0066_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0067_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0068_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0069_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0070_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0071_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0072_csr-certbot.pem
  proxy-local/conf/letsencrypt/csr/0073_csr-certbot.pem
  proxy-local/conf/letsencrypt/keys/0064_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0065_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0066_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0067_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0068_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0069_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0070_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0071_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0072_key-certbot.pem
  proxy-local/conf/letsencrypt/keys/0073_key-certbot.pem
  proxy-local/conf/nginx/nginx.conf
  store/BUILD
  user/BUILD
  vitrine/BUILD
Due: staging-address-job, staging-admin-job, staging-api-job, staging-boutique-job, staging-cart-job, staging-dashboard-job, staging-employee-job, staging-image-job, staging-mail-job, staging-order-job, staging-product-job, staging-store-job, staging-user-job, staging-vitrine-job, prod-address-job, prod-admin-job, prod-api-job, prod-boutique-job, prod-cart-job, prod-dashboard-job, prod-employee-job, prod-image-job, prod-mail-job, prod-order-job, prod-product-job, prod-store-job, prod-user-job, prod-vitrine-job

pipeline change
  .gitlab-ci.yml
  address/BUILD
  admin/BUILD
Due: staging-address-job, staging-admin-job, prod-address-job, prod-admin-job

pipeline change
  .gitlab-ci.yml
Due: none

pipeline change
  .gitlab-ci.yml
  address/BUILD
Due: staging-address-job, prod-address-job

Path conditions:
  staging-address-job: any of: address/*, address/*/*, address/*/*/*
  staging-admin-job: any of: admin/*, admin/*/*, admin/*/*/*
  staging-api-job: any of: api/*, api/*/*, api/*/*/*
  staging-boutique-job: any of: boutique/*, boutique/*/*, boutique/*/*/*
  staging-cart-job: any of: cart/*, cart/*/*, cart/*/*/*
  staging-dashboard-job: any of: dashboard/*, dashboard/*/*, dashboard/*/*/*
  staging-employee-job: any of: employee/*, employee/*/*, employee/*/*/*
  staging-image-job: any of: image/*, image/*/*, image/*/*/*
  staging-mail-job: any of: mail/*, mail/*/*, mail/*/*/*
  staging-order-job: any of: order/*, order/*/*, order/*/*/*
  staging-product-job: any of: product/*, product/*/*, product/*/*/*
  staging-store-job: any of: store/*, store/*/*, store/*/*/*
  staging-user-job: any of: user/*, user/*/*, user/*/*/*
  staging-vitrine-job: any of: vitrine/*, vitrine/*/*, vitrine/*/*/*
  staging-rabbitmq-job: any of: rabbitmq/*, rabbitmq/*/*, rabbitmq/*/*/*
  prod-address-job: any of: address/*, address/*/*, address/*/*/*
  prod-admin-job: any of: admin/*, admin/*/*, admin/*/*/*
  prod-api-job: any of: api/*, api/*/*, api/*/*/*
  prod-boutique-job: any of: boutique/*, boutique/*/*, boutique/*/*/*
  prod-cart-job: any of: cart/*, cart/*/*, cart/*/*/*
  prod-dashboard-job: any of: dashboard/*, dashboard/*/*, dashboard/*/*/*
  prod-employee-job: any of: employee/*, employee/*/*, employee/*/*/*
  prod-image-job: any of: image/*, image/*/*, image/*/*/*
  prod-mail-job: any of: mail/*, mail/*/*, mail/*/*/*
  prod-order-job: any of: order/*, order/*/*, order/*/*/*
  prod-product-job: any of: product/*, product/*/*, product/*/*/*
  prod-store-job: any of: store/*, store/*/*, store/*/*/*
  prod-user-job: any of: user/*, user/*/*, user/*/*/*
  prod-vitrine-job: any of: vitrine/*, vitrine/*/*, vitrine/*/*/*
  prod-rabbitmq-job: any of: rabbitmq/*, rabbitmq/*/*, rabbitmq/*/*/*
  proxy-job: any of: proxy/*, proxy/*/*, proxy/*/*/*
