Repository NicolasGretten/IOT_Docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging-user-job, staging-address-job, staging-api-job, staging-image-job, staging-store-job

Path conditions:
  staging-user-job: any of: user/*, user/*/*, user/*/*/*
  staging-address-job: any of: address/*, address/*/*, address/*/*/*
  staging-api-job: any of: api/*, api/*/*, api/*/*/*
  staging-image-job: any of: image/*, image/*/*, image/*/*/*
  staging-store-job: any of: store/*, store/*/*, store/*/*/*

swagger
  api/conf/nginx/nginx.conf
Due: staging-api-job

swagger
  address/conf/nginx/nginx.conf
Due: staging-address-job

swagger
  address/BUILD
Due: staging-address-job

swagger
  address/conf/nginx/nginx.conf
  address/docker-compose.yml
  address/php/dockerfile
Due: staging-address-job

swagger
  address/php/dockerfile
Due: staging-address-job

swagger
  address/docker-compose.yml
Due: staging-address-job

swagger
  address/conf/nginx/nginx.conf
  api/conf/nginx/nginx.conf
Due: staging-address-job, staging-api-job

swagger
  address/conf/nginx/nginx.conf
  address/docker-compose.yml
Due: staging-address-job

swagger
  proxy/conf/nginx/nginx.conf
Due: none
